// ----------------------------------
// ANIMATE
// ----------------------------------

@mixin animate($name: fadeIn, $duration: 1s){
	-webkit-animation-name: $name;
	-moz-animation-name: $name;
	-o-animation-name: $name;
	animation-name: $name;
	-webkit-animation-duration: $duration;
	-moz-animation-duration: $duration;
	-o-animation-duration: $duration;
	animation-duration: $duration;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;

	@if $name == swing {
		-webkit-transform-origin: top center;
		-moz-transform-origin: top center;
		-o-transform-origin: top center;
		transform-origin: top center;
		-webkit-animation-name: swing;
		-moz-animation-name: swing;
		-o-animation-name: swing;
		animation-name: swing;
	}
	@else if $name == flip {
		-webkit-backface-visibility: visible !important;
		-webkit-animation-name: flip;
		-moz-backface-visibility: visible !important;
		-moz-animation-name: flip;
		-o-backface-visibility: visible !important;
		-o-animation-name: flip;
		backface-visibility: visible !important;
		animation-name: flip;
	}
	@else if $name == flipInX {
		-webkit-backface-visibility: visible !important;
		-webkit-animation-name: flipInX;
		-moz-backface-visibility: visible !important;
		-moz-animation-name: flipInX;
		-o-backface-visibility: visible !important;
		-o-animation-name: flipInX;
		backface-visibility: visible !important;
		animation-name: flipInX;
	}
	@else if $name == flipOutX {
		-webkit-animation-name: flipOutX;
		-webkit-backface-visibility: visible !important;
		-moz-animation-name: flipOutX;
		-moz-backface-visibility: visible !important;
		-o-animation-name: flipOutX;
		-o-backface-visibility: visible !important;
		animation-name: flipOutX;
		backface-visibility: visible !important;
	}
	@else if $name == flipInY {
		-webkit-backface-visibility: visible !important;
		-webkit-animation-name: flipInY;
		-moz-backface-visibility: visible !important;
		-moz-animation-name: flipInY;
		-o-backface-visibility: visible !important;
		-o-animation-name: flipInY;
		backface-visibility: visible !important;
		animation-name: flipInY;
	}
	@else if $name == flipOutY {
		-webkit-backface-visibility: visible !important;
		-webkit-animation-name: flipOutY;
		-moz-backface-visibility: visible !important;
		-moz-animation-name: flipOutY;
		-o-backface-visibility: visible !important;
		-o-animation-name: flipOutY;
		backface-visibility: visible !important;
		animation-name: flipOutY;
	}
	@else if $name == lightSpeedIn {
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
		-o-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	@else if $name == lightSpeedOut {
		-webkit-animation-timing-function: ease-in;
		-moz-animation-timing-function: ease-in;
		-o-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}
