// ----------------------------------
// VERTICAL ALIGN for IE9+
// ----------------------------------

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin horizontal-align {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin section-margin {
	margin-bottom: 50px;
	@include breakpoint(mobile) {
		// margin-bottom: 20px;
	}
}

@mixin container-padding {
	padding-bottom: 50px;
	@include breakpoint(mobile) {
		// padding-bottom: 20px;
	}
}
