<footer>

	<nav class="secondary">
		<div class="container">
			<ul>
				<li>
					<div class="container">
						<h3><a>Communication Networks</a></h3>
						<ul class="no-sub">
							<li><a>Corning Optical Communications</a></li>
							<li><a>Corning Fiber</a></li>
							<li><a>Corning Gilbert</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="container">
						<h3><a>About</a></h3>
						<ul>
							<li>
								<h4><a>Corning Profile &amp; Business Units</a></h4>
								<ul>
									<li><a>Display Technologies</a></li>
									<li><a>Environmental Technologies</a></li>
									<li><a>Optical Technologies</a></li>
									<li><a>Life Sciences</a></li>
									<li><a>Specialty Materials</a></li>
									<li><a>Emerging Technologies</a></li>
								</ul>
							</li>
							<li>
								<h4><a>Corporate Citizenship</a></h4>
							</li>
							<li>
								<h4><a>Investor Relations</a></h4>
								<ul>
									<li><a>Corning's Leadership</a></li>
									<li><a>Financial Data & Filings</a></li>
									<li><a>company Stats</a></li>
									<li><a>Corporate Governance</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="container">
						<h3><a>People</a></h3>
						<ul>
							<li>
								<h4><a>Life at Corning</a></h4>
								<ul>
									<li><a>Our People</a></li>
									<li><a>Diversity</a></li>
									<li><a>A Day In The Life</a></li>
									<li><a>Community</a></li>
								</ul>
							</li>
							<li>
								<h4><a>Students &amp; Recent Grads</a></h4>
								<ul>
									<li><a>Internship Program</a></li>
									<li><a>Campus Program</a></li>
								</ul>
							</li>
							<li>
								<h4><a>Work at Corning</a></h4>
								<ul>
									<li><a>Openings</a></li>
									<li><a>Careers Tracks</a></li>
									<li><a>Locations</a></li>
									<li><a>Benefits &amp; Compensation</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
			</ul>

			<div class="legal">
				<ul>
					<li><a>Cookies Policy</a></li>
					<li><a>Privacy Policy</a></li>
					<li><a>Legal Notices</a></li>
				</ul>

				<p class="copyright">
					&copy; 1994-2014, SapientNitro. All Rights Reserved.
				</p>
			</div>
		</div>
	</nav>
</footer>
