<div class="tm-headerbar uk-clearfix uk-hidden-small">
  <div class="uk-container uk-container-center">
    <a class="tm-logo" href="http://188.226.251.160/demo/themes/wordpress/2014/eat">Logo
    </a>
  </div>
</div>
