
    <!-- build:js /assets/scripts/vendor/app.vendor.js -->
    <script src="./bower_components/jquery/dist/jquery.js"></script>

    <script src="./bower_components/slick-carousel/slick/slick.js"></script>
    <!-- endbuild -->

    <!-- build:js /assets/scripts/app.scripts.js -->
    <script src="/assets/scripts/app.main.js"></script>
    <!-- endbuild -->

</body>
</html>
