
    <!-- build:js /assets/scripts/vendor/app.vendor.js -->
    <script src="./bower_components/jquery/dist/jquery.js"></script>

    <script src="./bower_components/sass-bootstrap/js/affix.js"></script>
    <script src="./bower_components/sass-bootstrap/js/alert.js"></script>
    <script src="./bower_components/sass-bootstrap/js/dropdown.js"></script>
    <script src="./bower_components/sass-bootstrap/js/tooltip.js"></script>
    <script src="./bower_components/sass-bootstrap/js/modal.js"></script>
    <script src="./bower_components/sass-bootstrap/js/transition.js"></script>
    <script src="./bower_components/sass-bootstrap/js/button.js"></script>
    <script src="./bower_components/sass-bootstrap/js/popover.js"></script>
    <script src="./bower_components/sass-bootstrap/js/carousel.js"></script>
    <script src="./bower_components/sass-bootstrap/js/scrollspy.js"></script>
    <script src="./bower_components/sass-bootstrap/js/collapse.js"></script>
    <script src="./bower_components/sass-bootstrap/js/tab.js"></script>

    <script src="./bower_components/slick-carousel/slick/slick.js"></script>
    <!-- endbuild -->

    <!-- build:js /assets/scripts/app.scripts.js -->
    <script src="/assets/scripts/app.main.js"></script>
    <!-- endbuild -->

</body>
</html>
