// ----------------------------------------------------
// _BASE
// ----------------------------------------------------

@import "compass/css3";
@import "compass/utilities";


// ----------------------------------
// VARIABLES
// ----------------------------------

// COLORS
// ----------------------------------

$white         : #fff;
$black         : #000;


// Z-INDEX
// ----------------------------------
$zQtr          : 25;
$zMid          : 50;
$zTop          : 100;
