{{#compare eyebrow '&&' eyebrow.text}}
    <div class="eyebrow{{#if eyebrow.class}} {{eyebrow.class}}{{/if}}">
        <p>
            <span class="text">{{eyebrow.text}}</span>
            <span class="underline"></span>
        </p>
    </div>
{{/compare}}
