{{#compare eyebrow '||' heading}}
      <div class="heading{{#if heading_class}} {{heading_class}}{{/if}}">
          {{> eyebrow}}

          {{#compare heading '||' sub-heading}}
            <div class="wrap">
              {{#if heading}}
                  <h2 class="title">
                      {{heading}}{{#if cta-icon}}<a><i class="{{cta-icon}}"></i></a>{{/if}}
                  </h2>
              {{/if}}

              {{#if sub-heading}}
                  <h3 class="subtitle">
                      {{sub-heading}}
                  </h3>
              {{/if}}
            </div>
          {{/compare}}
      </div>
{{/compare}}
