{{#if list.items}}
  <ul {{#if list.class}} class="{{list.class}}"{{/if}} {{> data-attr list}}>
    {{#each list.items}}
        <li {{#if class}} class="{{class}}"{{/if}}{{> data-attr}}>
            {{> heading }}
            {{> img }}
            {{> text }}
            {{> link }}
            {{> cta }}
            {{> element }}
            {{> list }}
        </li>
    {{/each}}
  </ul>
{{/if}}
